<!doctype html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block style %}
<style>
</style>
{% endblock %}
{% block add_new_problem_active %} active {% endblock %}

{% block body %}
<div class="container">

    {% if messages %}
    <div class="" style="width: 100%;">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show mt-3"
            style="width:100%" role="alert">

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="my-3">
        <form aciton="" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary my-3"/>
            <script>
                document.getElementById('id_problem_id').value = {{pk}}
            </script>
        </form>
    </div>
    {% endblock %}